<% @title = @problem.title%>
<%= render 'layouts/nav' %>
<%= render 'layouts/topnav' %>

<div class="home-content">
	<!-- Start of first post-->
	<div class="row-fluid">
		<div class="span9">
			<p> <%= @problem.description %></p>
		</div>
		<div class="span3">

		</div>
	</div>
</div>