<style>
.home-content {
	text-align: center;
}

.problem {
	color: #138caf;
	margin-top: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}
.bqstart {
	float: left;
	height: 45px;
	margin-top: -20px;
	padding-top: 45px;
	margin-bottom: -50px;
	font-size: 400%;
	color: #999999;
}

.bqend {
	float: right;
	height: 15px;
	margin-top: 0px;
	padding-top: 45px;
	font-size: 400%;
	color: #999999;
}
</style>
<% if user_signed_in? %>
	<%= render 'layouts/nav' %>
	<%end%>
	<div class="row-fluid">
		<div class="span4">
			<%= image_tag "logo.png"%>
			<h3 class="muted">Problems to solve</h3>
		</div>
		<div class="span8">
			<p class="problem"> 
				<span class="bqstart">&#8220;</span>Remember those times when a word gets stuck in your head? <br \>

				You know its cylindrical, its from a movie, it has encryption on it, and it is used for safekeeping of ancient documents - which if you try to break open will destroy the contents. Well try entering that description into google. It wont tell you the answer is a ... Cryptex. (or Caesar's box). <br \><b><u>Vijay Anand , Founder and CEO at The Startup Centre</u></b><span class="bqend">&#8221;</span>
			</p>
		</div>
	</div>
	<hr>
	<div class="home-content">
		<% if user_signed_in? %> <h3> Good you already stepped in! </h3><%else%>
		<h1><small>Looking for real world problems to solve?</small> Step right in</h1>
		<%end%>
		<% if user_signed_in? %>
		<%else%>
		<%= link_to "Create an Account", new_user_registration_path, :class => "btn btn-large btn btn-success", :type=>"button" %> 
		<%= link_to "Sign in", new_user_session_path, :class => "btn btn-large btn btn-info", :type=>"button" %> 



		<%end%>
	</div>