<hr>
<footer>
	<p>Upcoming events: <%= link_to "Bangalore 2nd Edition, Mar 15 - 17", "http://in50hrs.com/bangalore"%> | Initiative by: <%= image_tag "tsc.png", :size=>"100x100" %> | Hosted by: <%= link_to "E2E Networks", "http://e2enetworks.com/"%> </p>
</footer>