<hr>
<footer>
	<p><b>Upcoming events:</b> <a href="http://in50hrs.com/bangalore" target="_blank">Bangalore 2nd Edition, Mar 15 - 17</a>  | <b>Initiative by:</b> <%= image_tag "tsc.png", :size=>"100x100" %></p>
</footer>