<head>
	<title><%= title %></title>
	<%= stylesheet_link_tag  "bootstrap", "custom", "social", "http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300", "http://fonts.googleapis.com/css?family=Sintony", :media => "all" %>	
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag  "bootstrap-responsive.css"%>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
