<head>
	<title><%= title %></title>
	<%= stylesheet_link_tag  "bootstrap", "custom", "social", "http://fonts.googleapis.com/css?family=Patrick+Hand+SC", :media => "all" %>
	<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
	
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag  "bootstrap-responsive.css"%>
</head>
