<div class="row-fluid">
	<div class="span4">
		<%= image_tag "logo.png"%>
		<h3 class="muted">Problems to solve</h3>
	</div>
	<div class="span8">
		<p class="problem"> 
			<%=@title%>
		</p>
	</div>
</div>
<hr>